<!DOCTYPE html>
<html>
<head>
	<title>Havan - @ViewBag.pageName</title>
	<link href="~/Controllers/css/home.css" rel="stylesheet" />
	<link href="~/Controllers/css/listar.css" rel="stylesheet" />
	<link href="~/Controllers/css/cadastrar.css" rel="stylesheet" />
</head>
<body>
	<header>
		<a href="/Home/Index">Home</a>
		<a href="/Home/Cadastrar">Cadastrar</a>
		<a href="/Home/Listar">Listar</a>
	</header>
	<main>
		@RenderBody()
	</main>
</body>
</html>