* {
	border:0;
	padding:0;
	margin:0;
}


fieldset {
	margin: 50px 0 0 20%;
	background: white;
	width: 60%;
	height: 210px;
	color:black;
	border:1px solid black;
}

label {
	padding:10px;
	display:block;
	font-weight:bold;
	text-align:left;
}

input {
	padding: 5px;
	margin:0 0 0 10px;
	border-radius: 10px;
	width: 90%;
	background: #ccc;
}

	input:hover {
		background: #002;
		cursor: pointer;
	}

#btnCad {
	margin:20px 0 0 20%;
	background:#ccc;
	padding:10px;
}

	#btnCad:hover {
		background:#002;
		color:white;
	}
