
@{
    ViewBag.namePage = "Produto";
}

<h1>Produtos</h1>

<ul>
	<li>
		<a href="Produto/Create">Cadastrar</a>
	</li>
	<li>
		<a href="/Produto/List">Listar</a>
	</li>
	<li>
		<a href="/Home/Index">Voltar a página inicial</a>
	</li>
</ul>
