<!DOCTYPE html>
<html>
<head>
	<link href="~/Content/bootstrap.css" rel="stylesheet" />
	<title> Havan - @ViewBag.namePage</title>
</head>
<body>
	<header> </header>
	<main>
		@RenderBody()
	</main>
</body>
</html>