
@{
    ViewBag.namePage = "Categoria";
}

<h1>Categoria</h1>

<ul>
	<li>
		<a href="Categoria/Create">Cadastrar</a>
	</li>
	<li>
		<a href="/Categoria/List">Listar</a>
	</li>
	<li>
		<a href="/Home/Index">Voltar a página inicial</a>
	</li>
</ul>

