@{
	ViewBag.namePage = "Página Inicial";
}
<h1> Bem vindo ao cadastro de produtos e categoria da Havan</h1>
<ul>
	<li>
		<a href="/Produto">Cadastrar Produto</a>
	</li>
	<li>
		<a href="/Categoria">Cadastrar Categoria</a>
	</li>
</ul>
