@{
	ViewBag.pageName = "Cadastrar";
}

<div>
	<fieldset>
		<form action="/Home/Salvar" method="post">
			<label for="Id">Id:</label>
			<input type="number" name="Id" id="Id">

			<label for="marca">Marca:</label>
			<input type="text" name="marca" id="marca">

			<label for="Tipo">Tipo:</label>
			<input type="text" name="tipo" id="tipo">

			<label for="distri">Distribuidora:</label>
			<input type="text" name="distribuidora" id="distribuidora">

			<input type="submit" value="Salvar" id="btnCad" />
		</form>
	</fieldset>
</div>

