@{
	ViewBag.Titlle = "Cadastrar";
}

<fieldset>
<label for="marca">Marca:</label>
<input type="text" name="marca" id="marca">

<label for="Tipo">Tipo:</label>
<input type="text" name="tipo" id="tipo">

<label for="distri">Distribuidora:</label>
<input type="text" name="distri" id="distri">

</fieldset>
<button onclick="salvar();" id="btnCad">Cadastrar</button>
