@model List<WebMVC.Models.Cerveja>
@{
	ViewBag.Titlle = "Listar";
}

<table>
	<thead>
	<th>Marca:</th>
	<th>Tipo:</th>
	<th>Distribuidora:</th>
	</thead>
	<tbody>
		@foreach (var cerva in Model)
		{
			<tr>
				<td>@cerva.Marca</td>
				<td>@cerva.Tipo</td>
				<td>@cerva.Distribuidora</td>
			</tr>
		}
	</tbody>
</table>